$main-text-color: black;

$tab-background: peachpuff;

$basic-button-primary-border-color: indianred;
$basic-button-secondary-border-color: #999;
$basic-button-primary-shadow-color: #cd5c5c33;
$basic-button-secondary-shadow-color: #66666633;
$basic-button-text-color: #111;

$basic-drawer-background: #fff;
$basic-drawer-overlay-background: #66666680;
$basic-drawer-border: #eee;
$basic-drawer-shadow: #dddddd33;

$basic-modal-background: #fff;
$basic-modal-overlay-background: #66666680;

$basic-loader-overlay-background: #66666680;
