@use "colors";
@use "typography";


* {
  @include typography.all-document;
  color: colors.$main-text-color;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}



